<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand " routerLink=""><i class="fa-brands fa-bity"></i>E-Commerce</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="Products" routerLinkActive="activeLink"><i
                            class="fa-solid fa-clipboard"></i> Products</a>
                </li>
                <li class="nav-item">
                    <button class=" btn btn-dark mx-2" routerLink="login">Login</button>
                </li>
                <li class="nav-item" >
                    <button class="btn btn-dark mx-2" routerLink="sign-up">Register</button>
                </li>
        
                <li class="nav-item cursor-pointer" >
                    <button class="btn btn-dark mx-2" >Log Out <i
                            class="fa-solid fa-right-from-bracket"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>